<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property resource="application.properties" />
	<property name="PROJECT" value="${info.app.name}" />
	<property name="LOG_PATH" value="${logging.path:-log}" />
	<property name="LOG_FILE" value="${LOG_PATH}/${PROJECT}" />
	<property name="LOG_FILE_ARCHIVE" value="${LOG_FILE}-%d{yyyyMMdd-HH}-%i" />
	<property name="LOG_LEVEL" value="${logging.level:-INFO}" />
	<property name="MAX_HISTORY" value="3" />
	<property name="MAX_SIZE" value="1GB" />
	<property name="TOTAL_SIZE_CAP" value="5GB" />

	<logger name="org.springframework.web" level="${logging.level}" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		 <!-- from org/springframework/boot/logging/logback/defaults.xml  -->
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_ARCHIVE}.log</fileNamePattern>
			<maxFileSize>${MAX_SIZE}</maxFileSize>
			<maxHistory>${MAX_HISTORY}</maxHistory>
			<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<appender name="FILE_ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}-error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_ARCHIVE}-error.log</fileNamePattern>
			<maxFileSize>${MAX_SIZE}</maxFileSize>
			<maxHistory>${MAX_HISTORY}</maxHistory>
			<totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<root level="${LOG_LEVEL}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE_ERROR" />
	</root>

</configuration>